.grand{
	margin: 5vw 10vw;
	padding: 5vw 8vw;
	font-size: 1.3vw;
	background-color: blanchedalmond;
	width: 70vw;
	height: 35vw;
}
.hide{
	display: none;
}
#btn{
	position: relative;
	margin: 4vw 44vw;
	font-size: 1.4vw;
	background-color: slategray;
	width: 12vw;
	height: 2vw;
}


input,select{
	width: 12vw;
	height: 2vw;
	margin-left: 1vw;
	margin-right: 1.3vw;
	background-color: gainsboro;
	border: none;
	border-bottom: solid 2px black;
}
input[type="submit"]{
	position: absolute;
	margin: -6vw 28vw;
	font-size: 1.4vw;
	border: none;
	background-color: deepskyblue;
}
label{
	position: absolute;
	margin-left: -6vw;

}
input{
	height: 1.8vw;
}
.rendu{
	display:;
	border: solid 2px blue;
}
.champ{
	display: flex;

}
.type{
	margin: 4vw -7vw ;
	display:flex ;

}
.date{
	margin-top: -1.2vw;
}
.info_article{
	margin-left:-4vw;

}
input[type="date"]{
	margin-top: 1.2vw;
}
input[type="number"]{
	width: 6vw;
}

#mt_unique{
	display: flex;
	position: absolute;
	margin: -6vw 58vw;
}
#mt_total{
	display: flex;
	position: absolute;
	margin: 1vw 59.5vw;
}
.depot{
	position: absolute;
	background-color: slategray;
	width: 86vw;
	margin-left: 10vw;
	margin-top: -3vw;
}
.nom_a_part{
	position: absolute;
	margin-left: 35vw;
	display: flex;
}
table{
	margin:-2vw 0vw;
	width: 70vw;
	
}
th{
	background-color: slategray;
	font-size: 2vw;
}
.retour{
	position: relative;
	margin-left: -5vw;
}
.suivant{
	position: absolute;
	margin: 1vw 5vw;
}
